body {
  margin: 0;
  padding: 9px calc((100vw - 1200px - 17px)/2 + 0.023 * 1200px) 0;
  min-width: calc(1200px * 0.954);

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: white;

  background-color: #849d8f;
}

body.main-body {
  background-image: url('../img/Slider-0.png');
  background-repeat: no-repeat;
  background-position: top;
}

a {
  line-height: 18px;
  color: white;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.3);
          text-decoration-color: rgba(255, 255, 255, 0.3);
  text-underline-offset: 2px;
}

a.link:hover,
a.link:focus,
a.link:active {
  color: #ffbc9e;
  -webkit-text-decoration-color: rgba(255, 188, 158, 0.3);
          text-decoration-color: rgba(255, 188, 158, 0.3);
}

a.link-alt {
  color: #323232;
  font-weight: 500;

  -webkit-text-decoration-color: rgba(50, 50, 50, 0.3);

          text-decoration-color: rgba(50, 50, 50, 0.3);
}

a.link-alt:hover,
a.link-alt:focus,
a.link-alt:active {
  color: #e84d37;

  -webkit-text-decoration-color: rgba(232, 77, 55, 0.3);

          text-decoration-color: rgba(232, 77, 55, 0.3);
}
/*
img {
  max-width: 100%;
  height: auto;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 10px 22px;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  vertical-align: top;

  background-image: linear-gradient(0deg, #e74a35, #f26843);
  border-radius: 22px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

button.btn {
  font-family: inherit;

  border: none;

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-image:
    linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(0deg, #e74a35, #f26843);
  box-shadow:
    0 2px 2px rgba(172, 16, 0);
}

.btn:active {
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(0deg, #e74a35, #f26843);
  box-shadow:
    inset 0 2px 2px #942718;
}

.main-header {
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
}

.site-navigation,
.user-navigation,
.sub-menu {
  padding: 0;
  margin: 0;

  list-style: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
}

.site-navigation > li:first-child {
  position: relative;
}

.site-navigation > li > a {
  display: block;
  padding: 7px 14px;

  line-height: 18px;

  background-color: transparent;
  border-radius: 16px;
}

.site-navigation > li > a:hover,
.site-navigation > li > a:focus {
  color: black;
  text-decoration: none;

  background-color: #f8f7f4;
}

.site-navigation > li > a:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
}

.site-navigation > li > a.site-current {
  color: white;
  text-decoration: none;

  background-color: #d07058;
}

.site-navigation > li:hover > .hover-popup,
.site-navigation > li:focus-within > .hover-popup,
.site-navigation > li > .hover-popup:hover {
  display: block;
}

.hover-popup {
  display: none;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.sub-menu {
  position: absolute;
  top: 37px;
  left: -10px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.sub-menu-header {
  position: relative;
  padding: 13px 21px;

  font-weight: bold;
}

.sub-menu-header::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 5.6%;
  width: 88.8%;
  height: 1px;

  background-color: rgba(0, 0, 0, 0.2);
}

.sub-menu a {
  display: block;
  padding: 9px 21px;

  color: inherit;
  line-height: 16px;
  text-decoration: none;
}

.sub-menu li:last-child a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sub-menu > * + * > a:hover,
.sub-menu > * + * > a:focus {
  background-color: #fbded7;
}

.sub-menu > * + * > a:active {
  color: white;

  background-color: #f6b5a5;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.user-navigation > * + * {
  margin-left: 10px;
}

.user-navigation > li > a {
  display: block;
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 8px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;

  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-search {
  position: relative;
}

.user-search .hover-popup {
  position: absolute;
  top: 38px;
  right: 0;
  padding: 20px 15px;

  opacity: 0;
}

.search-btn:hover + .hover-popup,
.search-btn:focus + .hover-popup {
  opacity: 1;
  z-index: 2;
}

.user-search .input {
  width: 311px;
  box-sizing: border-box;
}

.user-navigation .search-btn {
  width: 32px;
  height: 32px;

  background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="17" viewBox="0 0 17 17"><path fill="%23fff" d="M16.958 15.527L11.75 10.32A6.455 6.455 0 0 0 13 6.5 6.5 6.5 0 1 0 6.5 13a6.465 6.465 0 0 0 3.839-1.263l5.205 5.204 1.414-1.414zM6.5 11C4.019 11 2 8.981 2 6.5S4.019 2 6.5 2 11 4.019 11 6.5 8.981 11 6.5 11z"/></svg>');
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-position: 45% 45%;
}

.user-navigation .search-btn:hover,
.user-navigation .search-btn:focus {
  color: black;

  background-color: #f8f7f4;
  background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="17" viewBox="0 0 17 17"><path fill="%23000" d="M16.958 15.527L11.75 10.32A6.455 6.455 0 0 0 13 6.5 6.5 6.5 0 1 0 6.5 13a6.465 6.465 0 0 0 3.839-1.263l5.205 5.204 1.414-1.414zM6.5 11C4.019 11 2 8.981 2 6.5S4.019 2 6.5 2 11 4.019 11 6.5 8.981 11 6.5 11z"/></svg>');
}

.user-login {
  position: relative;
}

.user-login .hover-popup {
  display: grid;
  grid-template-columns: -webkit-min-content -webkit-min-content;
  grid-template-columns: min-content min-content;
  gap: 20px;
  position: absolute;
  right: 0;
  top: 38px;
  padding: 20px 18px;

  opacity: 0;
}

.user-login p {
  grid-column: 1/-1;
  margin: 0;
}

.user-login .link-alt {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.user-login .btn {
  box-sizing: border-box;
  height: 44px;
}

.user-login:hover .hover-popup,
.login-btn:focus + .hover-popup {
  opacity: 1;
  z-index: 2;
}

.user-login .input {
  width: 241px;
  box-sizing: border-box;
}

.user-navigation .login-btn {
  padding-left: 43px;
  padding-right: 17px;

  background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21" height="19" viewBox="0 0 21 19"><g fill="%23fff"><path d="M6 14.875L12.917 9.5 6 4.125v2.917H-.042v4.917H6z"/><path d="M18 0H5C3.9 0 3 .9 3 2v2h2V2h13v15H5v-2H3v2c0 1.1.9 2 2 2h13c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z"/></g></svg>');
  background-position: 16px 6px;
  background-repeat: no-repeat;
}

.user-navigation .login-btn:hover,
.user-navigation .login-btn:focus {
  color: black;

  background-color: #f8f7f4;
  background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21" height="19" viewBox="0 0 21 19"><g fill="%23000"><path d="M6 14.875L12.917 9.5 6 4.125v2.917H-.042v4.917H6z"/><path d="M18 0H5C3.9 0 3 .9 3 2v2h2V2h13v15H5v-2H3v2c0 1.1.9 2 2 2h13c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z"/></g></svg>');
}

.user-cart.cart-active {
  position: relative;
}

.user-cart > a {
  padding-left: 44px;
  padding-right: 33px;

  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 16px 6px;
  background-size: 21px 20px;
}

.user-cart.cart-active > a {
  color: black;

  background-color: #f8f7f4;
  background-image: url("../img/basket-red.svg");
}

.user-cart.cart-active .user-cart-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 38px;
  padding: 20px;

  opacity: 0;
}

.user-cart.cart-active:hover .user-cart-details,
.user-cart.cart-active > a:focus + .user-cart-details {
  opacity: 1;
  z-index: 2;
}

.user-cart-details .cart-table {
  margin-bottom: 13px;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;

  border-bottom: 1px solid #cacac7;
}

.user-cart-details .btn {
  align-self: flex-end;
}

.cart-table caption {
  margin-top: 12px;

  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  text-align: right;
  caption-side:bottom;
}

.cart-table .cart-delete,
.cart-table .cart-product-image {
  padding: 0;
  vertical-align: middle;
}

.cart-delete button {
  width: 11px;
  height: 11px;
  padding: 0;
  margin: 0;

  border: none;
  background-color: transparent;
  background-image: url("../img/cross-small.svg");
  background-size: 11px 11px;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  cursor: pointer;
}

.cart-table .cart-product-image {
  padding-left: 9px;
}

.cart-product-image img {
  border-radius: 50%;
}

.header-wrapper {
  grid-row: 2/3;
  grid-column: -1/-2;
  margin-top: -5px;

  text-align: right;
}

.header-time {
  margin: 0;
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 16px;
}

.header-phone {
  margin: 0;

  font-size: 22px;
  line-height: 24px;
}

.breadcrumbs + h1 {
  margin: 0;
  margin-bottom: 46px;

  font-size: 35px;
  line-height: 41px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: -17px 0 10px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  list-style: none;
}

.breadcrumbs > * + * {
  position:relative;
  margin-left: 20px;
}

.breadcrumbs > * + *::before {
  content: "»‎";
  position: absolute;
  left: -13px;
}

.breadcrumbs a {
  line-height: inherit;
}

.main-slider .slider-controls,
.main-slider .slider-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.main-slider {
  position: relative;
  margin-bottom: 41px;
}

.main-slider .slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.slider-controls > * + * {
  margin-left: 9px;
}

.main-slider .slider-radio {
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  box-sizing: border-box;

  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;

  cursor: pointer;
}

.main-slider .slider-radio:not(.slider-current):hover,
.main-slider .slider-radio:not(.slider-current):focus {
  background-color: rgba(248, 247, 244, 0.4);
}

.main-slider .slider-radio:active,
.main-slider .slider-current {
  background-color: white;
}

.main-slider .slider-item {
  text-align: center;
}

.slider-list h3 {
  width: 695px;
  margin: 275px auto 30px;

  font-size: 60px;
  line-height: 60px;
}

.main-slider .slider-btn {
  padding: 10px 40px;

  font-size: 32px;
  line-height: 44px;
  text-align: center;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  border-radius: 32px;
}

.filter-control {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 38px;

  line-height: 18px;
  font-weight: 500;
}

.filter-control ul {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
}

.filter-control fieldset:not(.sorting),
.filter-control button[type="submit"] {
  position: relative;
  margin: 0;
  padding: 9px 18px;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 18px;
}

.filter-control button[type="submit"] {
  position: initial;

  font: inherit;
  color: white;

  box-shadow: inset 0 0 0 2px white;

  cursor: pointer;
}

.filter-control button[type="submit"]:hover,
.filter-control button[type="submit"]:focus {
  color: #323232;

  background-color: white;
  box-shadow: none;
}

.filter-control button[type="submit"]:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
}

.filter-control legend {
  position: absolute;
  top: -23px;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
}

.filter-control .sorting {
  position: relative;
  padding: 0;
  margin: 0;

  border: none;
}

.sorting legend {
  left: 18px;
}

.filter-control .sorting select {
  height: 36px;
  padding: 9px 30px 9px 18px;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: white;

  border: none;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='5' viewBox='0 0 9 5'%3E%3Cpath fill='%23FFF' d='M4.5 5L0 0h9z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top 50% right 15px;

  -webkit-appearance: none;

     -moz-appearance: none;

          appearance: none;
}

.sorting select:hover,
.sorting select:focus {
  color: #323232;

  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='5' viewBox='0 0 9 5'%3E%3Cpath fill='%23000' d='M4.5 5L0 0h9z'/%3E%3C/svg%3E");
}


.sorting option {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  font-weight: 400;
}

.filter-control .price-range {
  position: relative;
  box-sizing: border-box;
  width: 218px;
  height: 36px;
  padding: 0 20px;

  border: 16px solid rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
}

.price-range .price-range-title {
  position: absolute;
  top: -38px;
  left: 0;

  font-size: 14px;
  line-height: 16px;
}

.price-range .range-track {
  position: relative;
  height: 4px;

  background-color: rgba(255, 255, 255, 1);
}

.range-track::before,
.range-track::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: -8px;

  background-image: url('../img/filter-button.svg');
  background-repeat: no-repeat;

  cursor: pointer;
}

.range-track::before {
  left: -10px;
}

.range-track::after {
  right: -10px;
}

.filter-control .fillers ul {
  -moz-column-gap: 55px;
       column-gap: 55px;
}

.fat-content ul {
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.fat-content ul > li:first-child,
.fillers ul > li:first-child  {
  margin-left: 30px;
}

.fat-content label,
.fillers label {
  position: relative;

  cursor: pointer;
}

/* Радиокнопки на CSS */

/* .fat-content label::before {
  content: "";
  position: absolute;
  left: -33px;
  top: -1px;
  width: 8px;
  height: 8px;
  padding: 4px;

  border: 3px solid white;
  border-radius: 50%;
  background-clip: content-box;

  opacity: 0.8;
}

.fat-content input:checked + label::before {
  background-color: white;
}

.fat-content input:enabled + label:hover::before {
  opacity: 1;
}

.fat-content input:disabled + label {
  opacity: 0.4;
}

.fat-content input:focus-visible + label {
  outline: -webkit-focus-ring-color auto 1px;
} */

/* Радиокнопки и чекбоксы на SVG */

.fat-content label::before,
.fillers label::before {
  content: "";
  position: absolute;
  left: -33px;
  top: -1px;

  background-repeat: no-repeat;

  opacity: 0.8;
}

.fat-content label::before {
  width: 22px;
  height: 22px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23FFF' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E%0A");
  background-size: 22px auto;
}

.fillers label::before {
  width: 20px;
  height: 20px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23FFFFFF' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
  background-size: contain;
}

.fat-content input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23FFFFFF' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle fill='%23FFFFFF' cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E%0A");
}

.fillers input:checked + label::before {
  width: 24px;
  height: 21px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23FFFFFF' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23FFFFFF' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
}

.fat-content input:enabled + label:hover::before,
.fat-content input:focus-visible:enabled + label::before,
.fillers input:enabled + label:hover::before,
.fillers input:focus-visible:enabled + label::before {
  opacity: 1;
}

.fat-content input:disabled + label,
.fillers input:disabled + label {
  opacity: 0.4;
}

.fat-content input:focus-visible + label,
.fillers input:focus-visible + label {
  outline: -webkit-focus-ring-color auto 1px;
}

.discounts {
  margin-bottom: 34px;
}

.discounts ul {
  display: grid;
  grid-template-columns: repeat(2, calc(1200px * 0.466));
  -moz-column-gap: calc(1200px * 0.022);
       column-gap: calc(1200px * 0.022);
  padding: 0;

  list-style: none;
}

.discounts .discount-item {
  display: flex;
  flex-direction: column;
  padding: 17px 20px 25px;
  box-sizing: border-box;

  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.discount-raspberry {
  background-image: url("../img/bg-raspberry.jpg");
}

.discount-chocolate {
  background-image: url("../img/bg-choco.jpg");
}

.discount-item h3 {
  margin: 0;
  margin-bottom: 14px;

  font-size: 35px;
  line-height: 41px;
}

.discount-item p {
  margin: 0;
  margin-bottom: 43px;

  font-size: 18px;
}

.discount-item .btn {
  align-self: flex-end;
  padding-top: 11px;
  padding-bottom: 11px;
}

.products ul {
  position: relative;
  left: calc(1200px * -0.011);
  display: grid;
  grid-template-columns: repeat(4, calc(1200px * 0.244));
  min-width: calc(1200px * 0.976);
  padding: 0;

  list-style: none;
}

.inner-page .products {
  margin-bottom: 70px;
}

.products .product {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 6px calc(1200px * 0.011) 25px;

  text-align: center;

  border-radius: 10px;
}

.product:hover {
  z-index: 1;
}

.product::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius: 10px;
}

.product:hover::before {
  bottom: -50px;

  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);

  z-index: -1;
}

.product-hit::after {
  content: "";
  position: absolute;
  top: 6px;
  left: calc(1200px * 0.011);
  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-size: 61px 61px;
}

.product figure {
  margin: 0;
}

.product img {
  margin-bottom: 8px;

  border-radius: 50%;
}

.product figcaption {
  font-weight: 500;
}

.product .price {
  position: absolute;
  top: 216px;
  left: 14px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;

  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.product .price span {
  font-size: 30px;
}

.product .btn {
  position: absolute;
  left: 50%;
  bottom: -30px;

  white-space: nowrap;

  transform: translateX(-50%);
  opacity: 0;
}

.product:hover .btn,
.product .btn:focus {
  opacity: 1;
  z-index: 2;
}

.features {
  padding: 25px 20px;
  margin-bottom: 40px;

  color: #323232;

  background-color: #ede0c3;
  background-image: url("../img/waffle.jpg");
  background-repeat: repeat;
  border-radius: 15px;
}

.features b {
  display: block;
  margin-bottom: 5px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.feature-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: calc(1200px * 0.022);
       column-gap: calc(1200px * 0.022);
  row-gap: 7px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.feature-list .feature-item {
  position: relative;
  padding-top: 16px;
  padding-left: 56px;

  font-weight: 400;
}

.feature-item::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  top: 3px;
  left: 0;

  background-repeat: no-repeat;
}

.feature-item:first-child::before {
  background-image: url("../img/ice-cream.svg");
}

.feature-item:nth-child(2)::before {
  background-image: url("../img/cow.svg");
}

.feature-item:nth-child(3)::before {
  background-image: url("../img/eco.svg");
}

.feature-item:last-child::before {
  background-image: url("../img/thermometer.svg");
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(2, calc(1200px * 0.466));
  -moz-column-gap: calc(1200px * 0.022);
       column-gap: calc(1200px * 0.022);
  margin-bottom: 40px;
}

.blog-article {
  padding: 23px 20px 20px;

  color: #323232;

  background-color: white;
  background-image: url("../img/bg-strawberry.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.blog-article h2 {
  margin: 0;
  margin-bottom: 4px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-article a.link-alt {
  display: block;
  width: 281px;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.mailing {
  padding: 5px;

  font-weight: 400;
  color: #5a5a5a;

  background-color: white;
  background-image: repeating-linear-gradient(315deg, #92cdff, #92cdff 6px, white 6px, white 12px, #fe9e90 12px, #fe9e90 18px, white 18px, white 24px);
  border-radius: 15px;
}

.mailing-inner-wrapper {
  height: 210px;
  padding: 30px 20px;
  box-sizing: border-box;

  background-color: #f8f7f4;
  border-radius: 15px;
}

.mailing .btn {
  padding: 10px 19px;
}

.mailing p {
  margin-top: 0;
  margin-bottom: 35px;
}

.mailing .input {
  margin-right: 7px;
}

.main-map {
  position: relative;
  min-height: 410px;

  background-image: url("../img/pin.svg");
  background-size: 80px 140px;
  background-repeat: no-repeat;
  background-position: left 250px center;
}

.main-map img {
  position: absolute;
  width: calc(0.954 * 1200px);
  height: auto;

  z-index: -1;
}

.main-map iframe {
  position: absolute;
  width: calc(0.954 * 1200px);
  height: 100%;
}

.main-map .feedback {
  position: absolute;
  top: 50%;
  right: calc(0.023 * 1200px + 40px);

  display: flex;
  flex-direction: column;
  width: 302px;
  padding: 29px 25px 32px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: black;

  background-color: white;
  border-radius: 15px;

  transform: translateY(-50%);
  z-index: 2;
}

.feedback p:first-child {
  width: 155px;
}

.feedback p {
  margin: 0;
}

.feedback-phone,
.feedback-address {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

p.feedback-address {
  margin-bottom: 19px;
}

p.feedback-phone {
  margin-top: 4px;
  margin-bottom: 2px;
}

.main-map .feedback .btn {
  margin-top: 23px;
}

.paginator {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 5px;
       column-gap: 5px;
  padding: 0;
  padding-bottom: 30px;
  margin: 0;

  list-style: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.paginator a {
  display: block;
  width: 25px;
  padding: 4px 0 3px;

  font-weight: 500;
  text-align: center;
  text-decoration: none;

  border-radius: 50%;
}

.paginator a:not(.page-prev):not(.page-next):not(.page-active):hover,
.paginator a:not(.page-prev):not(.page-next):not(.page-active):focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.paginator a:not(.page-prev):not(.page-next):not(.page-active):active,
.page-active {
  color: #323232;

  background-color: white;
}

.paginator li:first-child {
  margin-left: auto;
}

.page-prev,
.page-next {
  height: 18px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='12' viewBox='0 0 8 12'%3E%3Cpath fill='%23C1C6CE' d='M7.237 5.642L1.729.133a.506.506 0 1 0-.716.716L6.163 6l-5.151 5.15a.507.507 0 0 0 .716.717l5.509-5.509a.504.504 0 0 0 0-.716z'/%3E%3C/svg%3E");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.page-prev {
  transform: scaleX(-1);
}

.page-next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='12' viewBox='0 0 8 12'%3E%3Cpath fill='%23FFF' d='M7.237 5.642L1.729.133a.506.506 0 1 0-.716.716L6.163 6l-5.151 5.15a.507.507 0 0 0 .716.717l5.509-5.509a.504.504 0 0 0 0-.716z'/%3E%3C/svg%3E");
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}

/* Иконки */

.footer-social {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  list-style: none;
}

.footer-social > * + * {
  margin-left: 14px;
}

.footer-social a {
  display: block;
  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: center center;
  border: 4px solid rgba(255, 255, 255 ,0.5);
  border-radius: 50%;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
  border-color:rgba(255, 255, 255, 0.7);
}

.footer-social a[aria-label="Твиттер"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='rgba(255,255,255,0.8)' d='M16 0C7.164 0 0 7.164 0 16c0 8.837 7.164 16 16 16 8.837 0 16-7.163 16-16 0-8.836-7.163-16-16-16zm7.944 12.809c-.251 6.516-3.463 10.832-10.992 10.702h-.486c-.447 0-4.543-.443-5.344-1.823 2.479.19 4.247-.406 5.12-1.136-1.048-.289-2.923-.461-3.251-2.848.384.104.618.221 1.299.113-1.307-.824-2.758-1.519-2.679-3.643.311.317 1.164.518 1.46.457-.768-.233-2.149-3.244-.974-4.781 1.984 1.79 4.075 3.482 7.804 3.643.227-2.214 1.24-3.699 3.168-4.325 1.84-.479 3.255.26 3.901 1.138.737-.224 1.453-.466 2.193-.685-.004.833-.569 1.463-.935 1.709.747.165 1.423-.475 1.423-.475-.184.963-1.094 1.725-1.707 1.954z'/%3E%3C/svg%3E");
}

.footer-social a[aria-label="Твиттер"]:hover,
.footer-social a[aria-label="Твиттер"]:focus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='%23FFF' d='M16 0C7.164 0 0 7.164 0 16c0 8.837 7.164 16 16 16 8.837 0 16-7.163 16-16 0-8.836-7.163-16-16-16zm7.944 12.809c-.251 6.516-3.463 10.832-10.992 10.702h-.486c-.447 0-4.543-.443-5.344-1.823 2.479.19 4.247-.406 5.12-1.136-1.048-.289-2.923-.461-3.251-2.848.384.104.618.221 1.299.113-1.307-.824-2.758-1.519-2.679-3.643.311.317 1.164.518 1.46.457-.768-.233-2.149-3.244-.974-4.781 1.984 1.79 4.075 3.482 7.804 3.643.227-2.214 1.24-3.699 3.168-4.325 1.84-.479 3.255.26 3.901 1.138.737-.224 1.453-.466 2.193-.685-.004.833-.569 1.463-.935 1.709.747.165 1.423-.475 1.423-.475-.184.963-1.094 1.725-1.707 1.954z'/%3E%3C/svg%3E");
}

.footer-social a[aria-label="Твиттер"]:active {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='%23E9E9E9' d='M16 0C7.164 0 0 7.164 0 16c0 8.837 7.164 16 16 16 8.837 0 16-7.163 16-16 0-8.836-7.163-16-16-16zm7.944 12.809c-.251 6.516-3.463 10.832-10.992 10.702h-.486c-.447 0-4.543-.443-5.344-1.823 2.479.19 4.247-.406 5.12-1.136-1.048-.289-2.923-.461-3.251-2.848.384.104.618.221 1.299.113-1.307-.824-2.758-1.519-2.679-3.643.311.317 1.164.518 1.46.457-.768-.233-2.149-3.244-.974-4.781 1.984 1.79 4.075 3.482 7.804 3.643.227-2.214 1.24-3.699 3.168-4.325 1.84-.479 3.255.26 3.901 1.138.737-.224 1.453-.466 2.193-.685-.004.833-.569 1.463-.935 1.709.747.165 1.423-.475 1.423-.475-.184.963-1.094 1.725-1.707 1.954z'/%3E%3C/svg%3E");
}

.footer-social a[aria-label="Инстаграм"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='rgba(255,255,255,0.8)'%3E%3Cpath d='M20.916 16a4.938 4.938 0 1 1-9.877 0c0-.394.051-.773.138-1.14h-.897v6.838h11.396V14.86h-.897c.086.367.137.746.137 1.14z'/%3E%3Cpath d='M15.978 18.659c1.466 0 2.659-1.193 2.659-2.659s-1.193-2.659-2.659-2.659c-1.466 0-2.659 1.193-2.659 2.659s1.192 2.659 2.659 2.659zM18.637 10.302h3.039v3.039h-3.039z'/%3E%3Cpath d='M16 0C7.164 0 0 7.164 0 16c0 8.837 7.164 16 16 16 8.837 0 16-7.163 16-16 0-8.836-7.163-16-16-16zm7.955 21.698a2.285 2.285 0 0 1-2.279 2.279H10.279A2.285 2.285 0 0 1 8 21.698V10.302a2.286 2.286 0 0 1 2.279-2.279h11.396a2.286 2.286 0 0 1 2.279 2.279v11.396z'/%3E%3C/g%3E%3C/svg%3E");
}

.footer-social a[aria-label="Инстаграм"]:hover,
.footer-social a[aria-label="Инстаграм"]:focus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='%23FFF'%3E%3Cpath d='M20.916 16a4.938 4.938 0 1 1-9.877 0c0-.394.051-.773.138-1.14h-.897v6.838h11.396V14.86h-.897c.086.367.137.746.137 1.14z'/%3E%3Cpath d='M15.978 18.659c1.466 0 2.659-1.193 2.659-2.659s-1.193-2.659-2.659-2.659c-1.466 0-2.659 1.193-2.659 2.659s1.192 2.659 2.659 2.659zM18.637 10.302h3.039v3.039h-3.039z'/%3E%3Cpath d='M16 0C7.164 0 0 7.164 0 16c0 8.837 7.164 16 16 16 8.837 0 16-7.163 16-16 0-8.836-7.163-16-16-16zm7.955 21.698a2.285 2.285 0 0 1-2.279 2.279H10.279A2.285 2.285 0 0 1 8 21.698V10.302a2.286 2.286 0 0 1 2.279-2.279h11.396a2.286 2.286 0 0 1 2.279 2.279v11.396z'/%3E%3C/g%3E%3C/svg%3E");
}

.footer-social a[aria-label="Инстаграм"]:active {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='%23E9E9E9'%3E%3Cpath d='M20.916 16a4.938 4.938 0 1 1-9.877 0c0-.394.051-.773.138-1.14h-.897v6.838h11.396V14.86h-.897c.086.367.137.746.137 1.14z'/%3E%3Cpath d='M15.978 18.659c1.466 0 2.659-1.193 2.659-2.659s-1.193-2.659-2.659-2.659c-1.466 0-2.659 1.193-2.659 2.659s1.192 2.659 2.659 2.659zM18.637 10.302h3.039v3.039h-3.039z'/%3E%3Cpath d='M16 0C7.164 0 0 7.164 0 16c0 8.837 7.164 16 16 16 8.837 0 16-7.163 16-16 0-8.836-7.163-16-16-16zm7.955 21.698a2.285 2.285 0 0 1-2.279 2.279H10.279A2.285 2.285 0 0 1 8 21.698V10.302a2.286 2.286 0 0 1 2.279-2.279h11.396a2.286 2.286 0 0 1 2.279 2.279v11.396z'/%3E%3C/g%3E%3C/svg%3E");
}

.footer-social a[aria-label="Фейсбук"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='rgba(255,255,255,0.8)' d='M16 0C7.164 0 0 7.163 0 16s7.164 16 16 16c8.837 0 16-7.164 16-16S24.837 0 16 0zm4.062 9.455h-3.021v3.444h3.021v3.445h-3.021v8.61H14.02v-8.61H11v-3.445h3.021V9.455c0-1.902 1.353-3.445 3.021-3.445h3.021v3.445z'/%3E%3C/svg%3E");
}

.footer-social a[aria-label="Фейсбук"]:hover,
.footer-social a[aria-label="Фейсбук"]:focus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='%23FFF' d='M16 0C7.164 0 0 7.163 0 16s7.164 16 16 16c8.837 0 16-7.164 16-16S24.837 0 16 0zm4.062 9.455h-3.021v3.444h3.021v3.445h-3.021v8.61H14.02v-8.61H11v-3.445h3.021V9.455c0-1.902 1.353-3.445 3.021-3.445h3.021v3.445z'/%3E%3C/svg%3E");
}

.footer-social a[aria-label="Фейсбук"]:active {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='%23E9E9E9' d='M16 0C7.164 0 0 7.163 0 16s7.164 16 16 16c8.837 0 16-7.164 16-16S24.837 0 16 0zm4.062 9.455h-3.021v3.444h3.021v3.445h-3.021v8.61H14.02v-8.61H11v-3.445h3.021V9.455c0-1.902 1.353-3.445 3.021-3.445h3.021v3.445z'/%3E%3C/svg%3E");
}

.footer-social a[aria-label="ВКонтакте"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='rgba(255,255,255,0.8)'%3E%3Cpath d='M16.637 14.495c.402-.019.719-.082.951-.188.326-.145.54-.33.641-.559.101-.229.15-.496.15-.797 0-.232-.058-.465-.174-.697-.116-.232-.322-.405-.617-.517-.264-.1-.592-.155-.984-.165a76.242 76.242 0 0 0-1.652-.014h-.339v2.965h.565c.571 0 1.057-.009 1.459-.028zM18.118 17.084c-.282-.081-.672-.125-1.166-.132a127.97 127.97 0 0 0-1.55-.009h-.79v3.493h.264c1.014 0 1.74-.003 2.18-.009a3.2 3.2 0 0 0 1.212-.245c.377-.157.633-.364.774-.625s.214-.562.214-.9c0-.446-.088-.788-.261-1.03-.17-.241-.464-.423-.877-.543z'/%3E%3Cpath d='M16 0C7.164 0 0 7.164 0 16c0 8.837 7.164 16 16 16 8.837 0 16-7.163 16-16 0-8.836-7.163-16-16-16zm6.602 20.531a3.73 3.73 0 0 1-1.124 1.327c-.552.415-1.161.71-1.823.886s-1.501.264-2.519.264h-6.121V8.987h5.443c1.13 0 1.957.038 2.48.113a5.126 5.126 0 0 1 1.561.5c.533.27.929.632 1.189 1.087.26.455.392.975.392 1.558 0 .678-.179 1.278-.536 1.795-.358.518-.863.92-1.517 1.208v.075c.917.182 1.642.559 2.179 1.13.537.571.807 1.325.807 2.261 0 .678-.138 1.283-.411 1.817z'/%3E%3C/g%3E%3C/svg%3E");
}

.footer-social a[aria-label="ВКонтакте"]:hover,
.footer-social a[aria-label="ВКонтакте"]:focus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='%23FFF'%3E%3Cpath d='M16.637 14.495c.402-.019.719-.082.951-.188.326-.145.54-.33.641-.559.101-.229.15-.496.15-.797 0-.232-.058-.465-.174-.697-.116-.232-.322-.405-.617-.517-.264-.1-.592-.155-.984-.165a76.242 76.242 0 0 0-1.652-.014h-.339v2.965h.565c.571 0 1.057-.009 1.459-.028zM18.118 17.084c-.282-.081-.672-.125-1.166-.132a127.97 127.97 0 0 0-1.55-.009h-.79v3.493h.264c1.014 0 1.74-.003 2.18-.009a3.2 3.2 0 0 0 1.212-.245c.377-.157.633-.364.774-.625s.214-.562.214-.9c0-.446-.088-.788-.261-1.03-.17-.241-.464-.423-.877-.543z'/%3E%3Cpath d='M16 0C7.164 0 0 7.164 0 16c0 8.837 7.164 16 16 16 8.837 0 16-7.163 16-16 0-8.836-7.163-16-16-16zm6.602 20.531a3.73 3.73 0 0 1-1.124 1.327c-.552.415-1.161.71-1.823.886s-1.501.264-2.519.264h-6.121V8.987h5.443c1.13 0 1.957.038 2.48.113a5.126 5.126 0 0 1 1.561.5c.533.27.929.632 1.189 1.087.26.455.392.975.392 1.558 0 .678-.179 1.278-.536 1.795-.358.518-.863.92-1.517 1.208v.075c.917.182 1.642.559 2.179 1.13.537.571.807 1.325.807 2.261 0 .678-.138 1.283-.411 1.817z'/%3E%3C/g%3E%3C/svg%3E");
}

.footer-social a[aria-label="ВКонтакте"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='%23E9E9E9'%3E%3Cpath d='M16.637 14.495c.402-.019.719-.082.951-.188.326-.145.54-.33.641-.559.101-.229.15-.496.15-.797 0-.232-.058-.465-.174-.697-.116-.232-.322-.405-.617-.517-.264-.1-.592-.155-.984-.165a76.242 76.242 0 0 0-1.652-.014h-.339v2.965h.565c.571 0 1.057-.009 1.459-.028zM18.118 17.084c-.282-.081-.672-.125-1.166-.132a127.97 127.97 0 0 0-1.55-.009h-.79v3.493h.264c1.014 0 1.74-.003 2.18-.009a3.2 3.2 0 0 0 1.212-.245c.377-.157.633-.364.774-.625s.214-.562.214-.9c0-.446-.088-.788-.261-1.03-.17-.241-.464-.423-.877-.543z'/%3E%3Cpath d='M16 0C7.164 0 0 7.164 0 16c0 8.837 7.164 16 16 16 8.837 0 16-7.163 16-16 0-8.836-7.163-16-16-16zm6.602 20.531a3.73 3.73 0 0 1-1.124 1.327c-.552.415-1.161.71-1.823.886s-1.501.264-2.519.264h-6.121V8.987h5.443c1.13 0 1.957.038 2.48.113a5.126 5.126 0 0 1 1.561.5c.533.27.929.632 1.189 1.087.26.455.392.975.392 1.558 0 .678-.179 1.278-.536 1.795-.358.518-.863.92-1.517 1.208v.075c.917.182 1.642.559 2.179 1.13.537.571.807 1.325.807 2.261 0 .678-.138 1.283-.411 1.817z'/%3E%3C/g%3E%3C/svg%3E");
}

.footer-references {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: calc(1200px * 0.022);
       column-gap: calc(1200px * 0.022);
  padding: 0;

  list-style: none;
}

.footer-references a {
  font-size: 13px;
  font-weight: 400;
}

.footer-references li:first-child a {
  position: relative;

  font-weight: bold;
}

.footer-references li:first-child a::before {
  position: absolute;
  content: "";
  top: 0;
  left: -22px;
  width: 15px;
  height: 13px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='13' viewBox='0 0 15 13'%3E%3Cpath fill='%23FFF' d='M10.799 0c-1.35 0-2.551.65-3.3 1.661A4.097 4.097 0 0 0 4.199 0C1.875 0 0 1.806 0 4.044 0 7.223 7.499 13 7.499 13s7.499-5.777 7.499-8.956C14.998 1.806 13.123 0 10.799 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-references li:first-child a:hover::before,
.footer-references li:first-child a:focus::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='13' viewBox='0 0 15 13'%3E%3Cpath fill='%23FFBC9E' d='M10.799 0c-1.35 0-2.551.65-3.3 1.661A4.097 4.097 0 0 0 4.199 0C1.875 0 0 1.806 0 4.044 0 7.223 7.499 13 7.499 13s7.499-5.777 7.499-8.956C14.998 1.806 13.123 0 10.799 0z'/%3E%3C/svg%3E");
}

.footer-copyright {
  font-size: 12px;
  font-weight: 400;
}

.footer-copyright > a {
  display: block;
}

.modal-feedback {
  position: fixed;
  top: 50vh;
  left: 50vw;
  padding: 20px 25px;
  width: 428px;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 10px;

  transform: translateX(-50%) translateY(-50%);
  z-index: 4;
}

.modal-feedback > p {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.modal-feedback form {
  display: flex;
  flex-direction: column;
}

.modal-feedback form .btn {
  margin-left: auto;
}

.modal-feedback form p {
  margin: 0;
  margin-bottom: 20px;
}

.modal-feedback:not(.visually-hidden) + .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.3);

  z-index: 3;
}

/* Стиль инпутов */

.input::-webkit-input-placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.input::-moz-placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.input:-ms-input-placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.input::-ms-input-placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.input,
.input::placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.input {
  width: 368px;
  height: 44px;
  padding: 10px 15px;
  box-sizing: border-box;

  font-weight: bold;
  color: #323232;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.input:hover {
  padding: 9px 14px;

  border: 2px solid rgba(154, 154, 154, 0.52);
}

.input:focus {
  padding: 9px 14px;

  outline: none;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.modal-feedback textarea {
  display: block;
  min-height: 155px;
  width: 100%;
  margin-bottom: 25px;

  resize: none;
}

.modal-feedback textarea:hover,
.modal-feedback textarea:focus {
  padding-top: 9px;
  padding-bottom: 9px;
}

.modal-feedback .modal-close {
  position: absolute;
  top: 15px;
  right: 16px;
  width: 18px;
  height: 17px;

  border: none;
  background-color: transparent;
  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  background-position: center center;

  cursor: pointer;
}
